.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 480px) {
    .profile {
        flex-direction: column;
        padding: 0 19px 0;
    }
}